/* General Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body { background-color: #fcfcfc; }

/* Header Styling */
.navbar {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo { color: #f39c12; font-size: 24px; font-weight: bold; }

.nav-links { list-style: none; display: flex; }

.nav-links li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.nav-links li a.active { color: #f39c12; }

/* Main Tender Section */
.tender-section { padding: 80px 0; text-align: center; }

h1 { margin-bottom: 40px; font-size: 32px; color: #1a1a1a; }

.tender-flex {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

/* Form Styling */
.form-card {
    background: white;
    padding: 40px;
    flex: 1;
    text-align: left;
}

.input-group { margin-bottom: 20px; }

.input-group label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.budget-group label { font-weight: bold; font-size: 13px; display: block; margin-bottom: 10px; }

.radio-option { display: flex; align-items: center; margin-bottom: 8px; font-size: 13px; }

.radio-option input { margin-right: 10px; }

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #f39c12;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

/* Headquarters Box */
.contact-box {
    background-color: #1a1a1a;
    color: white;
    padding: 40px;
    width: 320px;
    text-align: left;
}

.contact-box h3 { color: #f39c12; margin-bottom: 20px; }

.contact-box p { font-size: 14px; line-height: 1.6; margin-bottom: 20px; color: #ccc; }

/* Footer Styles */
.main-footer {
    background-color: #111;
    color: rgb(242, 163, 4);
    padding: 60px 0;
    text-align: center;
}

.footer-logo {
    color: #f39c12;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.main-footer p {
    color: #efeeed;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 30px;
    font-size: 0.8rem;
    border-top: 1px solid #333;
    padding-top: 20px;
}
/* Changes color to the brand orange when you hover over the name */
.member-link:hover {
    color: #f39c12;
}